<%- include("../sidebar") %>
<!--Div responsável por englobar todo site e manter uma responsividade-->
<div class="flex-1">
    <!--Header contendo o nome da página e os símbolos de notificações e ajuda-->
    <header class="flex items-center p-4 text-semibold shadow-neomorphic mx-8 mt-8 rounded-lg dark:shadow-neomorphic_dark">
        <div class="flex flex-row w-full">
            <h3 id="headerTitulo" class="text-colorDark-50 text-2xl font w-10/12 dark:text-white-50">Tickets - Governança</h3>
            <div class="flex flex-row space-x-4 justify-end mr-6 w-2/12">
                <img src="/public/assets/sino.svg" alt="Sino de notificações" class="w-6 dark:grayscale dark:invert">
                <img src="/public/assets/ajuda.svg" alt="Símbolo de Ajuda" class="w-6 dark:grayscale dark:invert">
            </div>
        </div>
    </header>

<div class="flex flex-col px-8 w-full justify-center">
    <!--Content-->
    <section class="flex flex-col items-center justify-center w-full">
        <!-- 3 descrições das colunas do Kanban -->
        <section class=" w-full h-[648px] m-16 flex flex-row justify-evenly">
            <div class="h-full w-72 flex flex-col">
                <div class="bg-colorDark-50 h-10 p-2 text-center rounded-lg dark:shadow-dark">
                    <p class="text-white-50">Abertos</p>
                </div>
                <div class="bg-white-50 h-full mt-10 shadow-neomorphic rounded-lg p-4 dark:bg-colorDark-cinzaclaro dark:shadow-dark overflow-y-auto">
                    <!-- Tickets primeira coluna -->
                    <% for (var i=0; i < tickets.length; i++){ %>
                        <!--Verifica se o ticket realmente perntence aquela coluna-->
                        <% if(tickets[i].STATUS == 0) { %>
                        <div class="bg-white-100 min-h-fit rounded-lg flex flex-row p-4 dark:bg-colorDark-fundo cursor-pointer mb-2" onclick="verTicket('<%= tickets[i].ID_TICKET %>')">
                            <div>
                                <img src="public/assets/euro.svg" alt="Simbolo de Euro Ticket" class="min-h-fit min-w-fit mr-6 dark:invert dark:grayscale">
                            </div>
                            <div>
                                <p class="italic font-normal text-xs leading-[130.52%] md:text-lg md:leading-[23px] flex items-center text-blue-900 dark:text-status-blue"> TICKET <%=tickets[i].ID_TICKET%> </p>
                                <p" class="text-xs flex items-center break-all dark:text-white-50"><%= tickets[i].ID_TABELA %></p>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <!--Segunda coluna Kanban-->
            <div class="h-full w-72 flex flex-col">
                <div class="bg-status-yellow h-10 p-2 text-center rounded-lg dark:shadow-dark"">
                    <p class="text-white-50">Em Análise  </p>
                </div>
                <div class="bg-white-50 h-full mt-10 shadow-neomorphic rounded-lg p-4 dark:bg-colorDark-cinzaclaro dark:shadow-dark overflow-y-auto">
                    <!-- Tickets segunda coluna -->
                    <% for (var i=0; i < tickets.length; i++){ %>
                        <% if(tickets[i].STATUS == 1) { %>
                        <!--Verifica se o ticket realmente perntence aquela coluna-->
                        <div class="dark:bg-colorDark-fundo bg-white-100 min-h-fit rounded-lg flex flex-row p-4 cursor-pointer mb-2" onclick="verTicket('<%= tickets[i].ID_TICKET %>')">
                            <div><img src="public/assets/euro.svg" alt="Simbolo de Euro Ticket" class="min-h-fit min-w-fit mr-6 dark:invert dark:grayscale"></div>
                            <div>
                                <p class="italic font-normal text-xs leading-[130.52%] md:text-lg md:leading-[23px] flex items-center text-blue-900 dark:text-status-blue"> TICKET <%=tickets[i].ID_TICKET%> </p>
                                <p class="text-xs flex items-center break-all dark:text-white-50"><%= tickets[i].ID_TABELA %></p>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <!--Terceira coluna do kanban-->
            <div class="h-full w-72 flex flex-col">    
                    <div class="bg-status-green h-10 p-2 text-center rounded-lg dark:shadow-dark"">
                        <p class="text-white-50">Analisado </p>
                    </div>
                    <div class="bg-white-50 h-full mt-10 shadow-neomorphic rounded-lg p-4 dark:bg-colorDark-cinzaclaro dark:shadow-dark overflow-y-auto">
                        <!-- Tickets terceira coluna -->
                        <% for (var i=0; i < tickets.length; i++){ %>
                            <!--Verifica se o ticket realmente perntence aquela coluna-->
                            <% if(tickets[i].STATUS == 2) { %>
                            <div class="dark:bg-colorDark-fundo bg-white-100 min-h-fit rounded-lg flex flex-row p-4 cursor-pointer mb-2" onclick="verTicket('<%= tickets[i].ID_TICKET %>')">
                                <div><img src="public/assets/euro.svg" alt="Simbolo de Euro Ticket" class="min-h-fit min-w-fit mr-6 dark:invert dark:grayscale"></div>
                                <div>
                                    <p class="italic font-normal text-xs leading-[130.52%] md:text-lg md:leading-[23px] flex items-center text-blue-900 dark:text-status-blue"> TICKET <%=tickets[i].ID_TICKET%> </p>
                                    <!--Negado ou aprovado-->
                                    <% if(tickets[i].APROVADO == 0) { %>
                                        <div class="px-2 py-1 bg-status-red rounded-lg my-1">
                                            <p class="text-xs text-white-50">Negado</p>
                                        </div>
                                    <% } else { %>
                                        <div class="px-2 py-1 bg-status-green rounded-lg my-1">
                                            <p class="text-xs text-white-50">Aprovado</p>
                                        </div>
                                    <% } %>
                                    <p class="text-xs flex items-center break-all dark:text-white-50">
                                        <a href="/tabelas/informacoes?id_tabela=<%= tickets[i].ID_TABELA %>">
                                            <%= tickets[i].ID_TABELA %>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
        </section>
    </section>
</div>
<!--Inclui o ticket na página-->
<%- include("../footer") %>
</div>


<!--Modal Visão Governança-->
<div id="infoticket" class="hidden flex items-center justify-center fixed mt-0 w-full h-full bg-black bg-opacity-50">
    <div class="bg-white-50 rounded-lg mx-auto my-auto p-5 w-3/4 py-4  dark:bg-colorDark-fundo">
        <div class="relative">
            <img src="/public/assets/fechar.svg" class="dark:grayscale dark:invert scale-50 w-8 absolute right-0 cursor-pointer" onclick="fecharTicket()">
        </div>
        <!--Coluna responsável por conter as alterações-->
        <div class="flex flex-row p-4 text-center justify-around mt-4  dark:text-white-50">
            <div class="h-[80vh] w-[30vw] bg-white-100 rounded-2xl shadow-neomorphic_inset flex flex-col py-4 px-6 dark:bg-colorDark-fundo dark:shadow-neomorphic_dark">
                <div class="mt-4 mb-4">
                    <p class="text-left font-semibold">Alterações sugeridas:</p>
                </div>
                <div class="bg-white-50 shadow-neomorphic rounded-2xl my-3 py-2 px-2 dark:bg-colorDark-fundo dark:shadow-dark">
                    <p id="tituloTicket" class="text-sm font-semibold">
                        DB_PAN
                    </p>
                </div>
                <div class="bg-white-50 shadow-neomorphic rounded-2xl my-3 py-2 flex flex-row text-center dark:bg-colorDark-fundo dark:shadow-dark">
                    <div class="w-1/6 my-auto">
                        <input type="checkbox" class="form-checkbox">
                    </div>
                    <div class="flex flex-col w-4/6 -space-y-4">
                        <p class="text-sm mx-2">Database</p><br>
                        <p id="databaseTicket" class="text-sm text-status-blue break-words">
                            Samir Migliani
                        </p>
                    </div>
                    <div class="w-1/6 my-auto">
                    </div>
                </div>
                <div class="bg-white-50 shadow-neomorphic rounded-2xl my-3 py-2 flex flex-row text-center dark:bg-colorDark-fundo dark:shadow-dark">
                    <div class="w-1/6 my-auto">
                        <input type="checkbox" class="form-checkbox">
                    </div>
                    <div class="flex flex-col w-4/6 -space-y-4">
                        <p class="text-sm mx-2">Id tabela</p><br>
                        <p id="idTabelaTicket" class="text-sm text-status-blue break-words">
                            Boolean
                        </p>
                    </div>
                    <div class="w-1/6 my-auto">
                    </div>
                </div>
                <div class="bg-white-50 shadow-neomorphic rounded-2xl my-3 py-2 flex flex-row text-center dark:bg-colorDark-fundo dark:shadow-dark">
                    <div class="w-1/6 my-auto">
                        <input type="checkbox" class="form-checkbox">
                    </div>
                    <div class="flex flex-col w-4/6 -space-y-4">
                        <p class="text-sm mx-2">Caminho da Tabela</p><br>
                        <p id="caminhoTicket" class="text-sm text-status-blue break-words">
                            s3://pan-dl-prd-camada/conjunto/
                        </p>
                    </div>
                    <div class="w-1/6 my-auto">
                    </div>
                </div>
            </div>
            <!--Coluna responsável por ter as informações do ticket e seus botões-->
            <div class="flex flex-col justify-between">
                <div class="h-[55vh] w-[30vw] bg-white-50 rounded-2xl shadow-neomorphic flex flex-col text-left py-4 px-6 dark:bg-colorDark-fundo dark:shadow-neomorphic_dark  dark:text-white-50">
                    <div class="mt-4">
                        <p class="text-left font-semibold">Informações</p>
                    </div>
                    <div class="mt-4">
                        <p class="text-sm font-semibold">Usuário:</p>
                        <p class="text-sm">Bruna</p>
                    </div>
                    <div class="mt-4">
                        <p class="text-sm font-semibold">Tabela:</p>
                        <a href="" id="tabelaTicket" class="text-sm w-[200px] break-words cursor-pointer hover:underline">
                            TB_ADQUIRENCIA_WHITE_CD_CLIENTE
                        </a>
                    </div>
                    <div class="mt-4">
                        <p class="text-sm font-semibold">Tipo de alteração:</p>
                        <p class="text-sm">Informações</p>
                    </div>
                </div>
                <div class="h-[20vh] w-[30vw] bg-white-50 rounded-2xl shadow-neomorphic p-4 flex flex-col dark:shadow-neomorphic_dark dark:bg-colorDark-fundo">
                    <div class="p-2">
                        <p class="text-left font-semibold dark:text-white-50">Mudar status para:</p>
                    </div>
                    <div class="flex flex-row justify-around mt-2">
                        <div class="bg-colorDark-50 px-2 py-1 h-7 text-center rounded-lg cursor-pointer" id="ticketAberto">
                        </div>
                        <div class="bg-status-yellow px-2 py-1 h-7 text-center rounded-lg cursor-pointer" id="ticketEmAnalise">
                        </div>
                        <div class="bg-status-green px-2 py-1 h-7 text-center rounded-lg cursor-pointer" id="ticketAnalisado">
                        </div>
                        <div class="bg-status-red px-2 py-1 h-7 text-center rounded-lg cursor-pointer" id="ticketNegado">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Função responsável por abrir o modal de tickets
    function verTicket(ticketID) {
        //console.log(ticketID)
        let url = `/tickets/modal-tickets?id_ticket=${ticketID}`;
        // Executa a url responsável por trazer as informações dos tickets
        fetch(url)
            .then((response) => {
                return response.json();
            })
            .then(data => {
                //Atribui a variável tickets, o resultado da pesquisa e a variável link, o link da tabela que tem uma alteração pendente
                var tickets = data;
                var link = tickets[0].ID_TABELA;

                //ADiciona no modal as informações necessárias sobre o ticket
                document.getElementById('tituloTicket').innerHTML = `Ticket ${tickets[0].ID_TICKET}`;
                document.getElementById('databaseTicket').innerHTML = tickets[0].DATABASE;
                document.getElementById('idTabelaTicket').innerHTML = tickets[0].TABELA;
                document.getElementById('tabelaTicket').innerHTML = tickets[0].ID_TABELA;
                document.getElementById('tabelaTicket').href = `/tabelas/informacoes?id_tabela=${link}`;
                document.getElementById('caminhoTicket').innerHTML = tickets[0].CAMINHO;
                
                //Adiciona no modal os botões para a execução de uma alteração no status do ticket
                document.getElementById('ticketAberto').innerHTML = `<a href="/tickets/status?id_ticket=${tickets[0].ID_TICKET}&status=0&aprovado=0"><p class="text-white-50 text-xs">Aberto</p></a>`;
                document.getElementById('ticketEmAnalise').innerHTML = `<a href="/tickets/status?id_ticket=${tickets[0].ID_TICKET}&status=1&aprovado=0"><p class="text-white-50 text-xs">Em Analise</p></a>`;
                document.getElementById('ticketAnalisado').innerHTML = `<a href="/tickets/status?id_ticket=${tickets[0].ID_TICKET}&status=2&aprovado=1" ><p class="text-white-50 text-xs">Analisado</p></a>`;
                document.getElementById('ticketNegado').innerHTML = `<a href="/tickets/status?id_ticket=${tickets[0].ID_TICKET}&status=2&aprovado=0" ><p class="text-white-50 text-xs">Negado</p></a>`;
                
                    // Process the retrieved data
                console.log(tickets);
            })
            .catch(error => {
                // Handle any errors that occurred during the fetch request
                console.log(error);
            });
            //Faz o modal aparecer
            document.getElementById('infoticket').classList.remove('hidden');
    }
    //Faz o modal fechar
    function fecharTicket() {
        document.getElementById('infoticket').classList.add('hidden');
    }
</script>

</body>